@model ASProjekt.Models.Repair

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Repair</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NazwaNaprawy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NazwaNaprawy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OpisNaprawy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OpisNaprawy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataNaprawy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataNaprawy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cars)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cars.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mechanic)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mechanic.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
